no aaa root
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname Spine-2
!
spanning-tree mode mstp
!
interface Ethernet1
   description Leaf-1A_eth2
   no switchport
   ip address 10.2.1.1/30
!
interface Ethernet2
   description Leaf-1B_eth2
   no switchport
   ip address 10.2.1.5/30
!
interface Ethernet3
   description Leaf-2_eth2
   no switchport
   ip address 10.2.2.1/30
!
interface Ethernet4
   description Leaf-3A_eth2
   no switchport
   ip address 10.2.3.1/30
!
interface Ethernet5
   description Leaf-3B_eth2
   no switchport
   ip address 10.2.3.5/30
!
interface Ethernet6
!
interface Ethernet7
!
interface Ethernet8
!
interface Ethernet9
!
interface Ethernet10
!
interface Ethernet11
!
interface Ethernet12
!
interface {{ image.managementPort }}
!
{% if image.type == 'ceos' %}
event-handler renameInterfaces
   trigger on-boot
   action bash bash /mnt/flash/renameInterfaces.sh
   delay 30
!
{% endif %}
ip routing
!
end
